#excluding everything not included by mods or myself
/_CommonRedist
/ARTBOOK
/ARTWORK
/Blood and Wine extras
/Hearts of Stone extras
/MANUAL
/MAP
/SOUNDTRACK
/WALLPAPERS

#leaving in the files needed for the mod limit change
/bin/x64/*.dll
/bin/x64/*.exe
/bin/x64/*.crashinfo

#ASI loader
!/bin/x64/dinput8.dll

#more junk
/bin/ddi
/bin/initialdata
/bin/screenshots
/bin/shaders

/bin/gameconf.cfg
/bin/io_priority_table.xml
/bin/redscripts.ini
/bin/splashscreen.bmp

/bin/config/base
/bin/config/platform
/bin/config/config_description.xml
/bin/config/io_priority_table.xml
/bin/config/item_icon_generation.xml
/bin/config/keyboard_layouts_description.xml
/bin/config/performance.xml

/bin/config/r4game/legacy
/bin/config/r4game/ingameconfig.ini
/bin/config/r4game/scenes.ini

/bin/config/r4game/user_config_matrix/pc/audio.xml
/bin/config/r4game/user_config_matrix/pc/gameplay.xml
/bin/config/r4game/user_config_matrix/pc/hidden.xml
/bin/config/r4game/user_config_matrix/pc/localization.xml
/bin/config/r4game/user_config_matrix/pc/postprocess.xml
/bin/config/r4game/user_config_matrix/pc/rendering.xml

#filtering out stuff that didn't come from Besserweiser
/content/*
!/content/content0
/content/content0/*
!/content/content0/bundles

#everything except Besserweiser bundle
/content/content0/bundles/blob.bundle
/content/content0/bundles/buffers.bundle
/content/content0/bundles/movies.bundle
/content/content0/bundles/r4gui.bundle
/content/content0/bundles/r4items.bundle
/content/content0/bundles/startup.bundle
/content/content0/bundles/xml.bundle

#patch1/en.w3strings is allowing edits to the new game menu
!/content/patch1
/content/patch1/*
!/content/patch1/en.w3strings

/DLC/*
!/DLC/dlcW3EE
!/DLC/dlcmodulareyes

/User Settings/gamesaves
