/_CommonRedist
/ARTBOOK
/ARTWORK
/Blood and Wine extras
/Hearts of Stone extras
/MANUAL
/MAP
/SOUNDTRACK
/WALLPAPERS

/bin/x64/*.dll
/bin/x64/*.exe
/bin/x64/*.crashinfo

!/bin/x64/dinput8.dll

/bin/ddi
/bin/initialdata
/bin/screenshots
/bin/shaders

/bin/gameconf.cfg
/bin/io_priority_table.xml
/bin/redscripts.ini
/bin/splashscreen.bmp

/bin/config/base
/bin/config/platform
/bin/config/config_description.xml
/bin/config/io_priority_table.xml
/bin/config/item_icon_generation.xml
/bin/config/keyboard_layouts_description.xml
/bin/config/performance.xml

/bin/config/r4game/legacy
/bin/config/r4game/ingameconfig.ini
/bin/config/r4game/scenes.ini

/bin/config/r4game/user_config_matrix/pc/audio.xml
/bin/config/r4game/user_config_matrix/pc/gameplay.xml
/bin/config/r4game/user_config_matrix/pc/hidden.xml
/bin/config/r4game/user_config_matrix/pc/localization.xml
/bin/config/r4game/user_config_matrix/pc/postprocess.xml
/bin/config/r4game/user_config_matrix/pc/rendering.xml

/content/*
!/content/content0/
/content/content0/*
!content/content0/bundles

content/content0/bundles/blob.bundle
content/content0/bundles/buffers.bundle
content/content0/bundles/movies.bundle
content/content0/bundles/r4gui.bundle
content/content0/bundles/r4items.bundle
content/content0/bundles/startup.bundle
content/content0/bundles/xml.bundle

/DLC/*
!/DLC/dlcW3EE
!/DLC/dlcmodulareyes
